.tab {
  position: absolute;
  width: 50px;
  height: 24vh;
  margin-bottom: 1vh;
  bottom: 0px;
  right: 99.7vw;
  background-clip: padding-box;

  //border-image: url(/folder-border-1.png) 2% repeat;
  //border-left: 15px solid;
  //border-top: 15px solid;
  //border-bottom: 15px solid;
  border-right: 0;
}
