.folder {
  position: relative;
  height: 160px;
  width: 60px;
  writing-mode: tb-rl;
  margin: 10px 0;
  padding-top: 10px;
  padding-right: 7px;
  transition: right 0.3s ease;

  cursor: pointer;

  transform: rotate(180deg);

  &:hover {
    right: 10px;
  }
}

.folderBody {
  position: fixed;
  right: 40px;
  width: 60px;
  height: 100vh;
}

.folderBody2 {
  position: fixed;
  right: 85px;
  width: 10px;
  height: 100vh;

  border-right: 1px solid black;
}
