.folder {
  position: absolute;
  height: 100vh;
  width: 100vw;
  transition: right 0.3s ease;
  background-size: 20px 150%;
  background-repeat: repeat-y;
  background-position: 2% 10%;
  background-clip: padding-box;

  //border-image: url(/folder-border-1.png) 2% repeat;
  //border-left: 15px solid;
}

.container {
  margin: 10px 10px 10px 25px;
}
