.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  border-left: 1px solid grey;

  li {
    padding: 8px 16px;
    list-style: none;
    writing-mode: tb-rl;
    white-space: nowrap;
    margin: 10px;
    transform: rotate(180deg);
    transition: transform 1s ease-in-out;
  }
}
